@model KolmasTilausDB.Models.Asiakkaat

@{
    ViewBag.Title = "Delete";
}

<h4>Poista asiakas</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nimi)</dt>

            <dd>@Html.DisplayFor(model => model.Nimi)</dd>

            <dt>@Html.DisplayNameFor(model => model.Osoite)</dt>

            <dd>@Html.DisplayFor(model => model.Osoite)</dd>

            <dt>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</dt>

            <dd>@Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Poista" class="btn btn-primary btn-default" />
    @Html.ActionLink("Edellinen", "Index", null, new { @class = "btn btn-primary btn-medium" })

</div>
    }
</div>
