<!-- Alustus -->
<!-- Alustus -->
@model PagedList.IPagedList<KolmasTilausDB.Models.Asiakkaat>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

 <!-- JQuery -->
@section scripts {
    <script type="text/javascript">
        $("#yksittainenPostitoimipaikka").on("change", function () {
            var selValue = $("#yksittainenPostitoimipaikka").val();
            document.getElementById("postitoimipaikkaX").value = selValue;
        });
    </script>
}

<!-- Otsikot -->
<h2>Asiakaslista</h2>
<p></p>
<h5>Asiakkaita @Model.Count() kappaletta</h5>

<!-- Lisää asiakas -button -->
<br />
<a href="@Url.Action("Create", "Asiakkaat2")" class="btn btn-primary btn-sm">
    Lisää uusi asiakas
    <img src="~/Icons/person-add.svg" alt="Poista" width="25" height="25" title="Poista">
</a>
@*<a href="@Url.Action("Create", "Asiakkaat2")" class="btn btn-primary btn-large">Lisää uusi</a>*@
<br />
<br />

@*Hakutoiminto:*@
@using (Html.BeginForm("Index", "Asiakkaat2", FormMethod.Get))
{
    <div class="input-group">
        <!-- Haku -->
        <p class="px-1">@Html.Label("Haku:")</p>
        <p class="px-1">@Html.TextBox("SearchString2", ViewBag.currentFilter2 as string, new { @class = "form-control" })</p>
        <!-- Pudotusvalikko -->
        <p class="px-1">@Html.Label("Hae postitoimipaikalla:")</p>
        <p class="px-1">@Html.Hidden("postitoimipaikkaX", ViewBag.currentPostitoimipaikka as string, new { @id = "postitoimipaikkaX", @class = "form-control" }) </p>
        <p class="px-1">@Html.DropDownList("Postinumero", null, htmlAttributes: new { @id = "yksittainenPostitoimipaikka", @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Search" class="form-control" /></p>
    </div>
}

<!-- Taulukko -->
<!--<table class="table table-hover">
    <thead>
        <tr>
            <th>(a)Html.DisplayNameFor(model => model.AsiakasID)</th>
            <th>Html.DisplayNameFor(model => model.Nimi)</th>
            <th>Html.DisplayNameFor(model => model.Osoite)</th>
            <th>Html.DisplayNameFor(model => model.Postinumero)</th>
        </tr>
    </thead>-->
@*Lajittelu:*@
<table class="table table-hover">
    <tr>
        <th>AsiakasID</th>
        <th>@Html.ActionLink("Asiakkaan nimi", "Index", new { sortOrder = ViewBag.AsiakasNimiSortParm, currentFilter2 = ViewBag.currentFilter2, currentProductCategoryMUUTA = ViewBag.currentProductCategoryMUUTA })</th>
        <th>Osoite</th>
        <th>Postinumero</th>
    </tr>

    @foreach (var asiakas in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => asiakas.AsiakasID)</td>
                <td>@Html.DisplayFor(modelItem => asiakas.Nimi)</td>
                <td>@Html.DisplayFor(modelItem => asiakas.Osoite)</td>
                <td>@Html.DisplayFor(modelItem => asiakas.Postinumero)</td>
                <td>
                    @*@Html.ActionLink("Muokkaa", "Edit", new { id = asiakas.AsiakasID }, new { @class = "btn btn-primary btn-large" })*@
                    <a href="@Url.Action("Edit", "Asiakkaat2", new { id = asiakas.AsiakasID })" class="btn btn-primary btn-sm">
                        <img src="~/Icons/pencil-square.svg" alt="Poista" width="20" height="20" title="Poista">
                    </a>

                    @*@Html.ActionLink("Lisätietoja", "Details", new { id = asiakas.AsiakasID }, new { @class = "btn btn-primary btn-large" })*@

                    @*@Html.ActionLink("Poista", "Delete", new { id = asiakas.AsiakasID }, new { @class = "btn btn-primary btn-large" })*@
                    <a href="@Url.Action("Delete", "Asiakkaat2", new { id = asiakas.AsiakasID })" class="btn btn-primary btn-sm">
                        <img src="~/Icons/trash3.svg" alt="Poista" width="20" height="20" title="Poista">
                    </a>

                </td>
        </tbody>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort, currentFilter2 = ViewBag.currentFilter2, currentAsiakasCategory = ViewBag.currentAsiakasCategory,
    currentPostitoimipaikka = ViewBag.currentPostitoimipaikka }))

<!-- VANHA Lajittelu -->
<!--<script>
    const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
    const comparer = (idx, asc) => (a, b) => ((v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2))(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
    document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
        const table = th.closest('table');
        const tbody = table.querySelector('tbody');
        Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
    })));
</script>-->
