@model KolmasTilausDB.Models.Tuotteet

@{
    ViewBag.Title = "Delete";
}

<h4>Poista tuote</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Poista" class="btn btn-primary btn-medium" />
    @Html.ActionLink("Edellinen", "Index", null, new { @class = "btn btn-primary btn-medium" })

</div>
    }
</div>
