<!-- Alustus -->
@model PagedList.IPagedList<KolmasTilausDB.Models.Tuotteet>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<!-- Otsikot -->
<h2>Tuotteet</h2>
<p></p>
<h5>Tuotteita @Model.Count() kappaletta</h5>

<!-- Lisää tuote -button -->
<br />
<a href="@Url.Action("Create", "Tuotteet")" class="btn btn-primary btn-sm">
    Lisää uusi tuote
    <img src="~/Icons/bag-plus.svg" alt="Poista" width="20" height="20" title="Poista">
</a>
<br />
<br />

@*Hakutoiminto:*@
@using (Html.BeginForm("Index", "Tuotteet", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Haku:")</p>
        <p class="px-1">@Html.TextBox("SearchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p> <!-- Otsikko -->
        <p class="px-1"><input type="submit" value="Search" class="form-control" /></p>
    </div>
}

@*Lajittelu:*@
<table class="table">
    <tr>
        <th>@Html.ActionLink("Tuotteen nimi", "Index", new { sortOrder = ViewBag.TuoteNimiSortParm, currentFilter1 = ViewBag.currentFilter1 })</th>
        <th>@Html.ActionLink("Tuotteen hinta", "Index", new { sortOrder = ViewBag.TuoteHintaSortParm, currentFilter1 = ViewBag.currentFilter1 })</th>
        @*<th>Kuva</th>*@
        <th>Kuvalinkki</th>
        <th></th>
    </tr>

    @foreach (var tuote in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => tuote.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => tuote.Ahinta)</td>
            @*<td>@Html.DisplayFor(modelItem => tuote.Kuva)</td>*@
            <td>@Html.DisplayFor(modelItem => tuote.ImageLink)</td>
            <td>
                <a href="@Url.Action("Edit", "Tuotteet", new { id = tuote.TuoteID })" class="btn btn-primary btn-sm">
                    <img src="~/Icons/pencil-square.svg" alt="Poista" width="20" height="20" title="Poista">
                </a>
                <a href="@Url.Action("Delete", "Tuotteet", new { id = tuote.TuoteID })" class="btn btn-primary btn-sm">
                    <img src="~/Icons/trash3.svg" alt="Poista" width="20" height="20" title="Poista">
                </a>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter1
= ViewBag.currentFilter1,
    currentProductCategory = ViewBag.currentProductCategory
}))
